.tittle{
  text-align: center;
  margin-top: 4%;
}
.d-grid{
  margin-top: 1% ;
  margin-bottom: 1%;
}
.tablebtn{
  margin-right: 2%;
  margin-bottom: 2%;
}

.tablebtn2{
  margin-bottom: 2%;
}

.td{
  text-align: center;
}

.loading{
  margin-top: 20%;
  text-align: center;
}

.custom-pagination ::ng-deep .ngx-pagination .current {
  background: rgba(0, 0, 0, 0.778);
}

.modabtn{
  width: 100%;
}
