<h2 class="tittle"><i class="bi bi-list-ol"></i> Lista de Usuarios</h2>

<div class="d-grid gap-2 col-6 mx-auto">
  <a type="button" class="btn btn-outline-dark"
    href="/register"><i class="bi bi-person-plus-fill"></i> Registra un Nuevo Usuario</a>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of user | paginate: {itemsPerPage: 5, currentPage: page}">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>

      <td>
          <button class="btn btn-outline-secondary" (click)="editUser(user.id)"><i class="bi bi-pencil"></i> Editar</button>
          <button class="btn btn-outline-dark" (click)="deleteUser(user.id)"><i class="bi bi-person-x-fill"></i> Eliminar</button>
      </td>

    </tr>
  </tbody>

</table>

<div class="pagination justify-content-center">
<pagination-controls  (pageChange)="page = $event"></pagination-controls>
</div>






