<h2 class="tittle">Lista de Usuarios</h2>

<div class="d-grid gap-2 col-6 mx-auto">
  <a type="button" class="btn btn-outline-dark"
    href="/register">Registra un Nuevo Usuario</a>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of user">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>

      <td>
          <button class="btn btn-outline-secondary" (click)="editUser(user.id)">Editar</button>
          <button class="btn btn-outline-dark" (click)="deleteUser(user.id)">Eliminar</button>
      </td>

    </tr>
  </tbody>
</table>
