<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4202/4202259.png" sizes="32x32" type = "image/x-icon">
</head>
<body>

  <div class="col-md-6 offset-md-3">

    <div class="supalert" *ngIf="warning==true">
      <div class="alert alert-danger" role="alert">
        <i class="bi bi-exclamation-circle-fill"></i> ERROR EN EL REGISTRO: Ups! algo salio mal y no ha sido posible registrar el usuario
      </div>
    </div>

    <h3 class="text-center"><i class="bi bi-people"></i> Registro de Usuarios</h3>

    <form id="contactForm" [formGroup]="registerUserFormGroup" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name"  class="form-label">Nombre: </label>
        <input type = "text"
            class="form-control"
            id="name"
            formControlName="name"
            [(ngModel)]="user.name"
            required
            name = "name"
            placeholder="Carlos Ernesto">
            <div class="supalert" *ngIf="name?.['touched'] || name?.['dirty']">
              <div class="alert alert-danger" role="alert" *ngIf="name?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Es necesario completar esta casilla
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="name?.hasError('minlength')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Esta casilla no tiene los caracteres suficientes
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="name?.hasError('maxlength')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Esta casilla tiene demasiados caracteres
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="name?.hasError('pattern')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Esta casilla tiene caracteres invalidos
              </div>
            </div>
      </div>

      <div class="control-label">
        <label >Apellido: </label>
        <input type = "text"
            class="form-control"
            formControlName="lastName"
            [(ngModel)]="user.lastName"
            id="lastName"
            required
            lastName = "lastName"
            placeholder="Gonzalez Bazanta">
            <div class="supalert" *ngIf="lastName?.['touched'] || lastName?.['dirty']">
              <div class="alert alert-danger" role="alert" *ngIf="lastName?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Es necesario completar esta casilla
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="lastName?.hasError('minlength')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Esta casilla no tiene los caracteres suficientes
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="lastName?.hasError('maxlength')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Esta casilla tiene demasiados caracteres
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="lastName?.hasError('pattern')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Esta casilla tiene caracteres invalidos
              </div>
            </div>
      </div>

      <div class="form-group">
        <label class="control-label">Email: </label>
        <input type = "email"
             class="form-control"
            id="email"
            formControlName="email"
            [(ngModel)]="user.email"
            required
            email = "email"
            placeholder="example@example.com">
            <div class="supalert" *ngIf="email?.['touched'] || email?.['dirty']">
              <div class="alert alert-danger" role="alert" *ngIf="email?.hasError('required')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Es necesario completar esta casilla
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="email?.hasError('minlength')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Esta casilla no tiene los caracteres suficientes
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="email?.hasError('maxlength')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Esta casilla tiene demasiados caracteres
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="email?.hasError('pattern')">
                <i class="bi bi-exclamation-circle-fill"></i> ERROR: Esta casilla tiene caracteres invalidos o le falta '@example.com'
              </div>
            </div>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-outline-dark"
        data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        [disabled]="registerUserFormGroup.invalid">
          <i class="bi bi-person-plus"></i> {{loading}}</button>
      </div>

      <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Terminos de privacidad & Politicas de la empresa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Esta usted a punto de registrar un usuario. En base a nuestros acuerdos de privacidad y politicas es nuestra obligacion informarle;
        Si hace esto usted esta accediendo a que la empresa pueda registrar estos datos, para almacenarlos en nuetros servidores.
        ¿Esta usted de acuerdo?
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" data-bs-dismiss="modal">Si</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>


    </form>
  </div>

</body>
</html>
